:root {
  color-scheme: light dark;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: light-dark(#f0f0f0, #1c1b22);
  color: light-dark(#333, #f0f0f0);
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: light-dark(#ffffff, #2c2b32);
}
header a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
header a:hover {
  text-decoration: underline;
}
.social-link {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  margin: 0 10px;
}
